* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --income-color: #55c57a;
    --expense-color: #bb1414;
    --grey-color: #3f3f3f;
    --form-background-color: #e2ebf0;
    --balance-background-color: #cfd9df;
}

.budget {
    display: flex;
    flex-direction: row;
}


.budget__form {
    background-color: var(--form-background-color);
    min-height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.budget__title {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 36px;
    font-family: Lato, sans-serif;
}

.budget__error {
    visibility: hidden;
    color: var(--expense-color);
    font-family: Lato, sans-serif;
    margin-bottom: 20px;
}

.budget__inputs {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Lato, sans-serif;
    width: 420px;
    height: 100px;
}

.budget__switch {
    background-color: var(--expense-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.budget__icon {
    position: absolute;
    display: block;
    margin: 18px 9px;
    background-color: white;
    width: 22px;
    height: 4px;
    transform: rotate(0deg);
    transition: 0.25s;
}

.budget__icon--isActive {
    transform: rotate(90deg);
    transition: 0.25s;
}

.budget__input {
    all: unset;
    background-color: white;
    border-bottom: 3px solid var(--grey-color);
    height: 40px;
    width: 110px;
    cursor: text;
    transition: .2s;
    padding: 0 20px;
}

::placeholder {
    color: black;
    font-family: Lato, sans-serif;
}

.budget__input:focus {
    border-color: var(--income-color);
}

.budget__check {
    background-color: var(--income-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.budget__check-icon {
    display: block;
    background-color: transparent;
    height: 15px;
    width: 22px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    margin: 10px 10px;
    transform: rotate(-45deg);
}

.budget__balance {
    background-color: var(--balance-background-color);
    min-height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Lato, sans-serif;
}

.balance__heading {
    font-size: 25px;
    margin: 100px 0 70px 0;
}

.balance__value {
    color: var(--income-color)
}

.list__heading {
    margin-bottom: 10px;
    font-size: 25px;
}

.balance__list {
    display: flex;
    flex-direction: column;
}

.list__incomes {
    margin-bottom: 50px;
}

.list__heading--incomes {
    display: none;
    color: var(--income-color);
}

.list__heading--expenses {
    display: none;
    color: var(--expense-color);
}

.list__list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 30px;
    width: 300px;
    cursor: text;
    margin: 5px;
}

.list__list:hover {
    background-color: var(--form-background-color);
    display: flex;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item__description {
    margin-left: 10px;
}

.item__description--truncate {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__plus-icon {
    margin-left: auto;
}

.item__value--incomes {
    color: var(--income-color);
}

.item__value--expenses {
    color: var(--expense-color);
}

.item__currency {
    margin: auto 5px;
}

.item__buttons {
    display: flex;
    justify-content: space-between;
    width: 55px;
    height: 25px;
}

.item__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.item__icon {
    height: 25px;
    width: 25px;
}

@media (max-width: 768px) {
    .budget {
        flex-direction: column;
    }

    .budget__form {
        min-height: 50vh;
        width: 100vw;
    }

    .budget__balance {
        min-height: 50vh;
        width: 100vw;
    }
}

/*isActive = true;*/
/*switchFinances()*/
